 <p>
 A new article was created with title <%= link_to @article.title, @article %>
 </p>
 <blockquote> 
 	<em><%= @article.body %></em>
 </blockquote>
 <p>	
 	<%= link_to "article page", @article %>
 </p>	